* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* BG */
  display: flex;
  justify-content: center;
}

.grid-container {
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: black;
}
.img {
  display: flex;
  flex-direction: column;
  width: 90px;
  grid-row: 2 /2;
  grid-column: 2/3;
}

.nav {
  width: 267px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  grid-row: 2/2;
  grid-column: 3/3;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
}
.nav li:hover {
  color: rgb(2, 116, 151);
  transition: all 0.9s ease-in-out;
}
.musician {
  font-family: "Poppins", sans-serif;
  font-size: 84px;
  letter-spacing: -2px;
  color: #ffffff;
  grid-row: 4/5;
  grid-column: 2/3;
}
.p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
  grid-row: 6/7;
  grid-column: 2/3;
}
.icon {
  grid-row: 9/10;
  grid-column: 2/3;
}
.slider {
  grid-row: 2/9;
  grid-column: 5/7;
}
@media screen and (max-width: 768) {
}
